/*general button format

 */

.buttonn{
    -fx-background-color:   white;
}


.zoombutton{
    /*-fx-background-color: #adb3ab;*/
}

.roundCorners {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 75px;
}